In [1]:
import pandas as pd
import numpy as np

In [5]:
from surprise import KNNWithMeans 
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

In [6]:
file=pd.read_csv('rating.csv')
file.head()

   User ID  Movie ID  Rating
0        1         1       5
1        1         2       6
2        1         3       7
3        1         4       4
4        1         5       3

In [8]:
reader=Reader(rating_scale=(1,10))
#
data=Dataset.load_from_df(file[['User ID','User ID','Rating']],reader)

In [9]:
[trainset,testset] = train_test_split(data,test_size=.15,shuffle=True)
recom = KNNWithMeans(k=50,sim_options={'name':'cosine','user_based':True})
recom.fit(data.build_full_trainset())
test_pred=recom.test(testset)
rmse=accuracy.rmse(test_pred)
print('rmse=',rmse)

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.4109
rmse= 1.410895105952246

In [12]:
'''predict() function is used to compute the rating prediction for given user and item'''
pre = recom.predict(1,6)
print('the rating value for item 6 by user 1 is ',pre[3])
pre = recom.predict(2,2)
print('the rating value for item 2 by user 2 is ',pre[3])
pre = recom.predict(2,4)
print('the rating value for item 4 by user 2 is ',pre[3])
pre = recom.predict(3,1)
print('the rating value for item 1 by user 3 is ',pre[3])
pre = recom.predict(3,6)
print('the rating value for item 6 by user 3 is ',pre[3])
pre = recom.predict(4,5)
print('the rating value for item 5 by user 4 is ',pre[3])
pre = recom.predict(5,2)
print('the rating value for item 5 by user 2 is ',pre[3])

the rating value for item 6 by user 1 is  3.869565217391304
the rating value for item 2 by user 2 is  4.5
the rating value for item 4 by user 2 is  4.5
the rating value for item 1 by user 3 is  2.25
the rating value for item 6 by user 3 is  3.869565217391304
the rating value for item 5 by user 4 is  4.8
the rating value for item 5 by user 2 is  2.6

In [ ]:
#keep a threshold of 4.5 and display recommendationn

In [13]:
import pandas as pd
import numpy as np
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import sklearn

In [16]:
book_data = pd.read_csv('book_recom.csv')
book_data.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

In [17]:
data_pivot=(book_data.pivot(index='bookTitle',columns='userID',values='bookRating').fillna(0))

In [18]:
data_pivot.shape

(198, 11337)

In [19]:
data_pivot.head()

userID,14,23,26,51,67,99,135,243,254,256,...,278483,278514,278535,278552,278582,278633,278740,278769,278773,278843
bookTitle,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cold Heart: An Alex Delaware Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Kiss of Shadows (Meredith Gentry Novels (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Man in Full,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
book_data_matrix=csr_matrix(data_pivot.values)
book_data_matrix

<198x11337 sparse matrix of type '<class 'numpy.float64'>'
	with 11110 stored elements in Compressed Sparse Row format>

In [21]:
model_knn = NearestNeighbors(metric='cosine',algorithm='brute')
model_knn.fit(book_data_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

*Find 5 similar(with max similarity - means  lowest distance) books as that of the first book '1st to die:A novel'
*the function kneighbors()

In [24]:
query_index1=0 #first book
distances,indices = model_knn.kneighbors(data_pivot.iloc[query_index1,:].values.reshape(1,-1),n_neighbors=6)

In [26]:
#display the distance
distances

array([[0.        , 0.85554748, 0.89964868, 0.90149976, 0.90925394,
        0.92285717]])

In [27]:
#display indices
indices

array([[  0, 110,  12, 188,  26,  78]], dtype=int64)

In [28]:
print('recommendation for {0}\n'.format(data_pivot.index[query_index1]))
for i in indices.flatten()[1:]:
    print(data_pivot.index[i])

recommendation for 1st to Die: A Novel

Roses Are Red (Alex Cross Novels)
Along Came a Spider (Alex Cross Novels)
Violets Are Blue
Cat &amp; Mouse (Alex Cross Novels)
Jack &amp; Jill (Alex Cross Novels)